/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-primary: #d62828;
    --ion-background-color: #FFFFFF;
}

ion-toolbar {
    --background:#d62828;
    --color: #FFFFFF;
}
.color1 {
    --background: #ffc13b;
    --color: #000000;
}
.color2 {
    --background: #EAe2b7;
    --color: #000000;
}
.color3 {
    --background: #887952;
    --border-style: solid;
    --border-color: #d3cbb6;
    --color: #FFFFFF;
}
.color4 {
    --background: #8ab833;
    --border-style: solid;
    --border-color: #8ab833;
    --color: #FFFFFF;
    text-align: center;
}